* {
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
}

.photo {
    text-align: center;
}

.photo img {
    height: 290px;
    width: 290px;
    border-radius: 50%;
    border: solid black;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text h1 {
    padding: 50px 0 15px 35px;
}

.text ul {
    list-style: none;
}

.text ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 200px;
    background-color: black;
    color: white;
    margin: 8px;
    font-size: 20px;
    transition: 0.3s ease;
}

.text ul li:hover {
    transform: translateX(3px);
    background-color: grey
}

.text ul a {
    text-decoration: none;
}

.text p {
    margin: 20px 0 0 50%;
}

.text p i {
    color: black;
    padding-left: 15px;
}

::selection {
    background: black;
    color: white;
}

::-moz-selection {
    background: black;
    color: white;
}