@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Sedgwick+Ave+Display&display=swap');

body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header, main, footer {
    box-sizing: border-box;
}

header {
    background-color: #332421;
    color: white;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: white;
}

.menu-items li a:hover {
    background-color: #c2380e;
    border-radius: 5%;
    transition: 0.5s ease;
}

.social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
}

.fa-twitter,
.fa-instagram {
    font-size: 15px;
}

main {
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3%; 
    padding: 3px;
    text-align: center;
}


main h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    text-align: center;
}

main div h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    margin: 2px;
    text-align: left;
}

main p {
    text-align: justify;
    margin: 10px;
    font-size: 18px;
}

main div {
    border: 5px solid brown;
    border-style: outset;
    padding: 10;
    overflow: hidden;
    margin-bottom: 35px;
}

main div:hover {
    background-color: beige;
    transition: 0.5s ease;
}

button {
background-color: red;
color: white;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
height: 25px;
width: 130px;
margin-bottom: 3px;
margin-top: 20px;
}

.button-right {
    float: right;
    margin-right: 5px;
}

.button-left {
    float: left;
    margin-left: 5px;
}

.cake1pic {
    float: left;
    margin-right: 20px;
}

.cake2pic {
    float: right;
    margin-left: 20px;
}

.cake3pic {
    float: left;
    margin-right: 20px;
}

footer {
    background-color: #332421;
    color: white;
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    height: 35px;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: smaller;
}

footer a {
    text-decoration: none;
    color: white;
}