@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
}

body {
    font-family: 'Inter', sans-serif;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    overflow: hidden;
}

header h1 {
    font-size: 2.5rem;
    padding: 1rem;
    text-shadow: 1px 1px rgba(150, 150, 150, 0.5);
}

nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav li {
    list-style: none;
    padding: 3px;
}

.blackflag, .metallica {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 410px;
    background-color: black;
    margin: 1rem 0;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 3px;
}

.blackflag:hover, .metallica:hover {
    border: 2px solid black;
}

.blackflag {
    background-image: url(img/blackflag_black.jpg);
}

.metallica {
    background-image: url(img/metallica_black.jpg);
}

.colors {
    position: absolute;
    /* border: 1px solid black; */
    width: 52px;
    height: 70px;
    top: 11px;
    right: 11px;
}

.bf-black, .mt-black {
    position: inherit;
    border: 1px solid white;
    width: 31px;
    height: 31px;
    top: 0;
    right: 0;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
}

.bf-white, .mt-charcoal {
    position: inherit;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    bottom: 0;
    right: 0;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.mt-charcoal {
    background-color: darkblue;
}

.blackflag i, .metallica i {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: black;
  /*   background-color: black;
    width: 50px;
    height: 50px;
    padding: 8px; */
    font-size: 45px;
    cursor: pointer;
}

footer {
    border-top: 1px solid black;
} 

.social-icons {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    font-size: 26px;
    padding: 2rem;
}

aside {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    transform: translateX(100%);
    transition: 1s transform ease;
}

.selected-tshirt, .size-quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 410px;
    background-color: black;
    margin: 1rem 0;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 3px;
}

.size-quantity {
    background-color: antiquewhite;
}