@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
}

body {
    font-family: 'Inter', sans-serif;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    overflow: hidden;
}

header h1 {
    font-size: 2.5rem;
    padding: 1rem;
    text-shadow: 1px 1px rgba(150, 150, 150, 0.5);
}

nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav li {
    list-style: none;
    padding: 3px;
}

.blackflag, .metallica {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 410px;
    background-color: black;
    margin: 1rem 0;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 3px;
}

.blackflag:hover, .metallica:hover {
    border: 2px solid black;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 11px;
    left: 11px;
    background-color: black;
    color: white;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    padding: 1px;
    font-size: 22px;
    font-weight: bolder;
}

.blackflag {
    background-image: url(img/blackflag_black.jpg);
}

.metallica {
    background-image: url(img/metallica_black.jpg);
}

.colors {
    position: absolute;
    /* border: 1px solid black; */
    width: 52px;
    height: 70px;
    top: 11px;
    right: 11px;
}

.bf-black, .mt-black {
    position: inherit;
    border: 1px solid white;
    width: 31px;
    height: 31px;
    top: 0;
    right: 0;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
}

.bf-white, .mt-charcoal {
    position: inherit;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    bottom: 0;
    right: 0;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.mt-charcoal {
    background-color: darkblue;
}

.blackflag i, .metallica i {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: black;
  /*   background-color: black;
    width: 50px;
    height: 50px;
    padding: 8px; */
    font-size: 45px;
    cursor: pointer;
}

footer {
    border-top: 1px solid black;
} 

.social-icons {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    font-size: 26px;
    padding: 2rem;
}

.aside1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    transform: translateX(100%);
    transition: 1s transform ease;

    z-index: 1;
}

.selected-tshirt, .size-quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 410px;
    background-color: black;
    margin: 1rem 0;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 3px;
}

.selected-tshirt:hover, .size-quantity:hover {
    border: 2px solid black;
}

.aside-shirtcolor {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    width: 150px;
    height: 32px;
    margin-bottom: 25px;
}

.aside-color0, .aside-color1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border: 1px solid black;
}

.aside-color0 {
    border: 1px solid white;
    color: white;
}

.aside-color1 {
    border: 1px solid black;
}

.size-quantity {
    position: relative;
    background-color: white;
    font-size: 26px;
}

.size-quantity input, .size-quantity select {
    width: 120px;
    height: 25px;
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
    border: 1px solid black;
}

.size-quantity button {
    background-color: black;
    color: white;
    width: 250px;
    height: 40px;
    font-size: 24px;
    margin-top: 15px;
}

.cancel {
    position: absolute;
    bottom: 15px;
    right: 40px;
    font-size: 18px;
    /* text-decoration: underline; */
    cursor: pointer;
}

.aside2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    transform: translateX(100%);
    transition: 1s transform ease;

    z-index: 2;
}

.closebag {
    position: absolute;
    top: 30px;
    right: 50px;
}

.aside2 h1 {
    border: 2px solid black;
    border-bottom: none;
    border-radius: 25px 25px 0 0;
    padding: 15px;
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 350px;
    height: 400px;

    border: 5px solid black;
    border-style: double;

    margin-bottom: 2vh;
}

.continue {
    font-style: italic;
}

.placeorder {
    background-color: black;
    color: white;
    width: 250px;
    height: 40px;
    font-size: 24px;
    margin: 15px 0;
}