@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
}

body {
    font-family: 'Inter', sans-serif;
}

header, main, footer, nav, .container {
    margin: 0 auto;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    height: 20vh;
}

header h1 {
    font-size: 42px;
    padding-bottom: 1rem;
}

nav {
    font-size: 16px;
    align-items: center;
}

nav {
    height: 5vh;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    padding: 0.5rem 3rem;
}

main {
    height: 55vh;
    margin: 2vh auto 5vh auto;
}

.container, .about {
    margin: 0 auto;
    flex-direction: row;
    gap: 10rem;
    animation: transitionIn 0.75s;
}

 @keyframes transitionIn {
        
        from {
            opacity: 0;
            /* transform: rotateX(-10deg); */
            /* transform: translateY(-5px); */
        }

        to {
            opacity: 1;
            /* transform: rotateX(0deg); */
            /* transform: translateY(0); */
        }

    }

.blackflag, .metallica {
    height: 410px;
    width: 300px;
    background-color: black;
    border: 2px solid white;
    transition: 0.5s all ease;
    position: relative;
    overflow: hidden;
}

.blackflag {
    background-image: url(img/blackflag_black.jpg);
}

.blackflag:hover {
    background-image: url(img/blackflag_white.jpg);
    
}

.metallica {
    background-image: url(img/metallica_black.jpg);
}

.metallica:hover {
    background-image: url(img/metallica_charcoal.jpg);
}

.blackflag:hover, .metallica:hover {
    border: 2px solid black;
    cursor: pointer;
}

.blackflag p, .metallica p {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -100px;
    width: 80px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 16px;
    border-radius: 20px;
}

.blackflag:hover p, .metallica:hover p {
    right: 10px;
    bottom: 10px;
}

.about {
    line-height: 2rem;
    text-align: justify;
}

.about p {
    padding: 0.5rem;
    line-height: 1.5rem;
}

footer {
    display: flex;
    height: 15vh;
    font-size: 25px;
    border-top: 1px solid black;
}

footer i {
    padding: 1rem;
}

footer i:hover {
    opacity: 80%;
}

footer a:hover {
    text-decoration: none;
}