* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
}

.container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 650px;
}

.tshirt-photo img {
    width: 300px;
    height: 410px;
}

.tshirt-data {
    /* border: 1px solid black; */
    width: 300px;
    padding: 1rem;
}

.tshirt-data h1 {
    margin-bottom: 10px;
}

.tshirt-data h2 {
    margin-bottom: 80px;
    background-color: black;
    color: white;
    width: 50px;
    text-align: center;
    border-radius: 5px;
}

.tshirt-data label {
    font-size: 20px;
}

.tshirt-data select, option, input {
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
}

.tshirt-quantity {
    width: 50px;
}

.buy, .place-order {
    background-color: black;
    color: white;
    width: 200px;
    height: 30px;
    margin-top: 60px;
}


aside {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    height: 100vh;
    width: 300px;
    padding: 2.5rem;
    transform: translateX(100%);
    transition: 1s all ease;
}

aside h1 {
    font-size: 22px;
    text-decoration: underline;
    margin-bottom: 15px;
}

aside p {
    font-size: 16px;
    margin: 3px 0;
}

aside span, .grand-total {
    text-transform: uppercase;
}

.grand-total {
    margin-top: 15px;
}

.place-order {
    margin-top: 20px;
}

.cancel {
    text-align: center;
    font-size: 20px;
    margin: 0 0 14px 180px;
    cursor: pointer;
    width: 50px;
}