* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    width: 100%;
    background-image: url(writer.jpg);
    background-position: center;
}

main div {
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.559);
}