* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

header {
    display: flex;
    z-index: 1;
    height: 3vh;
    /* padding: 1rem; */
    margin: 1rem;
    background-color: white;
}

.header-container {
    display: flex;
    margin: 0 auto;
    width: 600px;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0.3rem 1rem 0.5rem 1rem;
}

header nav ul li {
    margin-right: 1rem;
    cursor: pointer;
}

header nav ul li:nth-child(3) {
    margin-right: 0;
    padding-right: 0;
}

header nav ul li:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 3vh 1rem;
}

.container {
    display: flex;
    gap: 0.5rem;
    margin: 0 auto;
    width: 600px;
}

.section1, .section2 {
    margin: 0 auto;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 1rem;
    border-style: outset;
    border-color: blanchedalmond;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 600px;
    transition: 0.5s all ease;
}

.section1:hover, .section2:hover {
    background-color: beige;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    width: 200px;
}

.positions section {
    margin: 0 auto;
    position: relative;
    background-color: brown;
    width: 600px;
    height: 30vh;
    background-image: url(../imgs/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.positions section h1 {
    position: absolute;
    text-align: center;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    width: 300px;
    top: 0;
    left: 0;
}

.positions section p {
    position: absolute;
    text-align: center;
    border: 1px solid black;
    border-bottom: none;
    border-right: none;
    width: 100px;
    bottom: 0;
    right: 0;
}

.positions section h1, .positions section p {
    background-color: antiquewhite;
    padding: 0.3rem;
}

.lorem section {
    margin: 0 auto;
    width: 600px;
    text-align: justify;
    background-color: coral;
    padding: 1rem;
    border-radius: 5px;
}

.lorem section p {
    margin-top: 0.4rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer h3 {
    padding: 1rem;
}

.footer-container {
    text-align: center;
    width: 600px;
}

